:root {
    --header-h: 14vh;
    --smaller-header-h: 10vh;
    --primary-color: rgb(255, 230, 170);
    --low-key-primary: rgba(255, 230, 170, .8);
    --stronger-primary: hsl(42, 80%, 30%);
    --secondary-color: rgb(255, 255, 255);
    --low-key-secondary: rgba(255, 255, 255, .8);
    --low-key-color: rgb(128, 128, 128);
    --shadow: 0 0 6px var(--stronger-primary);
}

* {
    margin: 0;
    padding: 0;
    transition: .2s;
}

body {
    background: url(./assets/images/background/background-horizontal.webp) no-repeat center;
    background-attachment: fixed;
    background-size: 100%;

    @media screen and (max-width: 767px) {
        background-image: url(./assets/images/background/background-vertical.webp);
        background-size: 130%;
    }
}

a {
    text-decoration: unset;
    color: unset;
}

hr {
    margin: auto;
    margin-bottom: 10px;
    width: 90%;
    border: none;
    border-bottom: 1px solid var(--stronger-primary);
}

img {
    max-width: 100%;
    min-height: 100%;
}

li {
    display: inline-block;
}

.button-like {
    text-align: center;
    color: var(--stronger-primary);
    border-radius: 6px;
    cursor: pointer;

    &:hover {
        box-shadow: var(--shadow);
    }
}